/*
// COLORS, VARIABLES
// ======
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
// TYPOGRAPHY
// ==========
*/
/*
// IMPORTS
// =======
*/
html {
  font-size: 18px;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: #23303e;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 6px;
  color: white;
  font-size: clamp(1rem, 2.25rem, 7rem);
  font-weight: 700;
}

.nav-links-top-link {
  font-size: 0.9rem;
  color: #818498;
}

.nav-links-top-link:hover {
  color: #23303e;
}

h1,
h2,
h3,
h4,
.btn-box,
.nav-links-top-link:hover {
  font-family: 'Fraunces', serif;
}

.text-box {
  text-align: center;
}

.text-box-header {
  font-size: clamp(1.2rem, 1.8rem, 2.5rem);
  line-height: 1.2;
}

.text-box-text {
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  line-height: 1.6;
  color: #5a636c;
}

#design .text-box-header,
#design .text-box-text {
  color: #25564b;
}

#photography .text-box-header,
#photography .text-box-text {
  color: #19536b;
}

#design .text-box-text,
#photography .text-box-text {
  font-size: clamp(0.7rem, 0.88rem, 1.1rem);
}

#design .text-box-header,
#photography .text-box-header {
  font-size: clamp(1.1rem, 1.7rem, 2.4rem);
}

.testimonials-header {
  text-transform: uppercase;
  color: #818498;
  font-weight: 700;
  font-size: clamp(0.8rem, 0.9rem, 1.2rem);
  letter-spacing: 5px;
}

.user-name {
  font-size: 1rem;
}

.user-role {
  font-size: 0.75rem;
  color: #a7abae;
}

.main-container {
  min-width: 350px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  position: relative;
}

header h1 {
  margin-top: 90px;
}

.nav-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links-button input {
  display: none;
}

.nav-links-button input:checked + nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: calc(210px - 20vw);
  left: 0;
  width: 100%;
}

.arrow-down img {
  height: calc(65px + 15vw);
}

.text-box {
  position: relative;
}

.text-box-header {
  margin-bottom: 30px;
}

.text-box-text {
  margin-bottom: 35px;
}

.text-box-absolute {
  position: absolute;
  bottom: -10px;
  left: 0;
}

.text-box-absolute p {
  margin: 0;
}

.testimonial-img {
  margin: 70px auto 30px;
}

.user-info {
  margin-top: -10px;
}

.footer-nav {
  margin: 40px 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .main-container {
    max-width: 1440px;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
  }
  #band {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  #image-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  #testimonials,
  #footer-images {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

header {
  height: 540px;
  background-image: url(../images/mobile/image-header.jpg);
}

.header-container {
  padding: 35px 25px;
}

.nav-links-top {
  position: absolute;
  display: none;
  padding: 40px;
  top: 100px;
  left: 0;
  width: calc(100%);
  background: white;
}

.nav-links-top::before {
  position: absolute;
  content: '';
  top: -30px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 40px solid #fff;
}

.nav-links-top-link {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
}

.nav-links-top-link:hover {
  background: #fad400;
  border-radius: 40px;
  text-transform: uppercase;
}

.image-box {
  width: 100%;
  height: calc(285px + 7vw);
}

.image-box#image-1 {
  background-image: url(../images/mobile/image-transform.jpg);
}

.image-box#image-2 {
  background-image: url(../images/mobile/image-stand-out.jpg);
}

.btn-box {
  position: relative;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  cursor: pointer;
}

.btn-box::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  opacity: 0.3;
}

.btn-box:hover::after {
  opacity: 1;
}

.btn-box#brand-btn::after {
  background-color: #fad400;
}

.btn-box#audience-btn::after {
  background-color: #fe7867;
}

.text-box,
.text-box-absolute {
  padding: 70px 25px;
}

#design {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

#photography {
  background-image: url(../images/mobile/image-photography.jpg);
}

#photography,
#design {
  width: 100%;
  height: 600px;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonial-img {
  width: 75px;
  border-radius: 50%;
}

.col-1-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-column-1 {
  width: 50%;
  height: Min(50vw, 600px/2);
}

#col-1-img1 {
  background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}

#col-1-img2 {
  background-image: url(../images/mobile/image-gallery-orange.jpg);
}

#col-1-img3 {
  background-image: url(../images/mobile/image-gallery-cone.jpg);
}

#col-1-img4 {
  background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

.footer {
  position: relative;
  background-color: #8bc6ba;
}

.footer-container {
  max-width: 450px;
  margin: 0 auto;
}

.footer svg path {
  fill: #346a5f;
}

.footer-nav-link {
  text-decoration: none;
  color: #346a5f;
}

.footer-nav-link:hover {
  color: white;
}

.social-link {
  width: 20px;
  height: 20px;
  margin: 0 15px;
}

.social-link:hover svg path {
  fill: white;
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 900px) {
  .box-column-1 {
    width: 25%;
    height: Min(25vw, 1440px/4);
  }
}
/*# sourceMappingURL=style.css.map */