/*
// TYPOGRAPHY
// ==========
*/
/*
// IMPORTS
// =======
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

html {
  font-size: 18px;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: $Very-dark-desaturated-blue;
}

header {
  h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 6px;
    color: $White;
    font-size: clamp(2.25rem, 3rem, 4rem);
    font-weight: 700;
    width: 100%;
  }
}

.nav-links-top-link {
  font-size: 0.9rem;
  color: $Dark-grayish-blue;

  &:hover {
    color: $Very-dark-desaturated-blue;
  }
}

h1,
h2,
h3,
h4,
.btn-box,
.nav-links-top-link:hover {
  font-family: 'Fraunces', serif;
}

.text-box {
  text-align: center;

  &-header {
    font-size: clamp(1.2rem, 1.8rem, 2.5rem);
    line-height: 1.2;
  }

  &-text {
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    line-height: 1.6;
    color: $Ver-dark-grayish-blue;
  }
}

#design {
  .text-box-header,
  .text-box-text {
    color: $Dark-desaturated-cyan;
  }
}

#photography {
  .text-box-header,
  .text-box-text {
    color: $Dark-blue;
  }
}

#design,
#photography {
  .text-box-text {
    font-size: clamp(0.7rem, 0.88rem, 1.1rem);
  }
  .text-box-header {
    font-size: clamp(1.1rem, 1.7rem, 2.4rem);
  }
}

.testimonials {
  &-header {
    text-transform: uppercase;
    color: $Dark-grayish-blue;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 5px;
  }
}

.user-name {
  font-size: 1rem;
}
.user-role {
  font-size: 0.75rem;
  color: $Grayish-blue;
}

@media (min-width: $break-point) {
  #band,
  #audience {
    text-align: left;
  }

  .nav-links-top-link {
    font-size: 1rem;
    color: $White;
  }

  .text-box {
    &-header {
      font-size: 2.15rem;
    }
  }

  .testimonials {
    &-header {
      font-size: 1.2rem;
    }
  }
}
